.button {
    background-color: var(--tertiary);
    outline: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: 1s all ease;

    &:hover {
        transition: .5s all ease;
        --variant: color-mix(in srgb, var(--tertiary), white 15%);
        --variant: var(--quaternary);
        background-color: var(--variant);
        box-shadow: 0 0 10px 5px color-mix(in srgb, var(--variant), #000 25%);
        transform: scale(1.2);
    }
}