.frame {
    width: 300px;
    margin: 2em auto;
    height: 256px;
    transform: rotate(var(--rotate));
}

.pixel {
    height: 17px;
    width: 17px;
    box-shadow: var(--shadow);
    transform: rotate(var(--rotate)) translate(var(--tX), var(--tY));
    filter: drop-shadow(2px 2px 10px rgb(219 209 209 / 55% ));
}