.not-found-section {
    background: linear-gradient(var(--tertiary), var(--primary));
    color: var(--secondary);
    height: 100%;
    flex-direction: column;

    h1 {
        font-size: 5rem;
    }

    span {
        font-size: 3rem;
    }
}