.welcome-content {
    background-color: var(--primary);
    height: 100%;

    .welcome-window {
        display: flex;
        flex-direction: row;
        height: 100%;
        background: linear-gradient(color-mix(in srgb, var(--primary), #fff 5%), color-mix(in srgb, var(--primary), #fff 5%), var(--primary));

        .primary-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 80px 30px 40px;

            &>:first-child {
                display: flex;
                flex-direction: column;
                text-align: center;

                span {
                    color: var(--secondary);
                }

                &>:first-child {
                    font-size: 48px;

                    span {
                        color: var(--quaternary);
                    }
                }

                &>:last-child {
                    font-size: 24px;
                }
            }

            &>:last-child {
                align-self: center;
            }
        }
    }
}

@media (max-width: 768px) {
    main .welcome-window .primary-content {
        width: 100%;
    }
}