.welcome-content {
    background-color: var(--primary);
    height: 100%;

    .welcome-window {
        display: flex;
        flex-direction: row;
        height: 100%;
        background: linear-gradient(var(--tertiary), var(--primary), color-mix(in srgb, var(--primary), #000 15%));

        .primary-content {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 80px 30px 40px;

            &>:first-child {

                h1,
                h4 {
                    color: var(--secondary);
                }

                h1 {
                    font-size: 64px;

                    span {
                        color: var(--quaternary);
                    }
                }

                h4 {
                    font-size: 22px;
                }
            }

            &>:last-child {
                align-self: center;
            }
        }
    }
}

@media (max-width: 768px) {
    main .welcome-window .primary-content {
        width: 100%;
    }
}