.welcome-content {
    height: 100%;

    .welcome-window {
        display: flex;
        flex-direction: row;
        height: 100%;

        .primary-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            padding: 50px 30px;

            &>:first-child {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-bottom: 15px;
                z-index: 2;
                text-shadow: 10px 10px 10px #000;

                span {
                    color: var(--secondary);
                }

                &>:first-child {
                    font-size: 35px;

                    span {
                        color: var(--quaternary);
                    }
                }

                &>:last-child {
                    font-size: 20px;
                }
            }

            &>:nth-child(2) {
                width: 90vw;
                position: absolute;
                display: flex;
                justify-content: space-between;
                align-self: center;
                z-index: 0;
            }

            &>:last-child {
                z-index: 2;
                align-self: center;
            }
        }
    }
}

@media (width <=1200px) {
    .welcome-content .welcome-window .primary-content>:nth-child(2) {
        filter: opacity(0.3);
        justify-content: center;

        &> :last-child {
            display: none;
        }
    }
}

@media (width <=768px) {
    main .welcome-window .primary-content {
        width: 100%;
    }
}