header {
    background: linear-gradient(color-mix(in srgb, var(--primary), white 10%), var(--primary));
    color: var(--secondary);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    font-size: 13px;

    & .header-logo {
        display: flex;
        align-items: center;
        gap: .5rem;

        & h3 {
            color: var(--quaternary);
        }
    }

    & .score {
        padding: 20px;
        height: 30px;
        border: 1px solid var(--secondary);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}