.option {
    cursor: pointer;
    border: 1px solid var(--secondary);
    background-color: var(--tertiary);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.4rem;
    height: 60px;
    display: flex;
    justify-content: space-between;

    &:hover {
        background-color: color-mix(in srgb, var(--tertiary), #000 15%);
    }

}

.option.selected {
    background: linear-gradient(to bottom, var(--quaternary), color-mix(in srgb, var(--quaternary), #000 25%), var(--quaternary));
    box-shadow: 0px 0px 10px 1px var(--quaternary);
    animation: shine 3s linear infinite;
}

.option.disabled {
    user-select: none;
    cursor: auto;
    opacity: 40%;
}

.correct-option {
    color: #0f0;
}

.incorrect-option {
    color: #f00;
}

@keyframes shine {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 60px;
    }
}