@font-face {
    font-family: 'Kdam';
    src: url("/font/KdamThmorPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family: 'Kdam', Inter;
    --primary: #13121b;
    --secondary: #b8cbda;
    --tertiary: #3b424b;
    --quaternary: #ffc400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

body {
    height: 100vh;
    font-family: var(--font-family);
    background-color: var(--primary);
}

main {
    background-color: var(--primary);
    height: calc(100% - 70px);
}

button {
    font-family: var(--font-family);
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}