@font-face {
    font-family: Jersey;
    src: url("src/font/Jersey20-Regular.ttf") format("truetype");
    font-weight: 400;
}

:root {
    --primary: #182133;
    --secondary: #f1f1f1;
    --tertiary: #293652;
    --quaternary: #ffc400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

body {
    height: 100vh;
    font-family: Jersey;
    background-color: var(--primary);
}

main {
    background-color: var(--primary);
    height: calc(100% - 70px);
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}