header {
    background-color: var(--tertiary);
    color: var(--secondary);
    height: 70px;
    display: flex;
    align-items: center;

    h3 {
        font-size: 32px;
        margin-left: 25px;
    }
}